.dashboard-section {
    display: flex;
    gap: 20px;
  }
  
  .income-source, .spendings {
    flex: 1;
  }
  
  .source-items, .spending-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .source-item, .spending-item {
    flex: 1 1 calc(50% - 10px);
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .spending-item {
    color: #fff;
  }